


div.navBar{
  
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: rgba(47, 46, 46, 1);
  padding:1rem 1rem;
}

body{
  margin:0px;
}

ul.navigationItems li{
    
    color:White;
    list-style: none;
    float: right;
    padding: 0px 20px;
	line-height:2rem;
	
	cursor:pointer;
	
   
}

li a{
    
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    font-family: Avenir;

}


.buyNow{
    
    background-color: rgba(68, 219, 189, 1);
	padding: 8px 15px;
    text-align: center;
    font-family:Avenir;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
    
}

div.logoPlaceholder{
    
    width:60px;
	margin-left:70px;
	float:left;
	height:auto;
    cursor: pointer;
    background-color: rgba(47, 46, 46, 1);
    border-bottom-style: solid;
    border-bottom-color: rgba(47, 46, 46, 1);
    
   
}

div.logoPlaceholder img{
  
  width:100%;
  height:auto;
}






div.productImage{
  
   padding-top:10%;
  padding-bottom:10px;
  
  margin-top:10%;
  
}


div.productDescription{
  
  margin-top:10%;
  padding-top:10%;
  padding-left:10%;
  
  
}


div.productDescription h1,p{
  
  font-family:Avenir;
  
}

div.productDescription p{
  
  font-size:1rem;
}


.imageShades{
  
  width:100%;
  height:auto;
  
  
}

div.productDescription a{
  
  text-decoration:underline;
  font-family:Avenir;
  font-weight:600;
  color:rgba(0,0,0,0.6);
}

div.secondDescription{
  
  margin-top:30px;
  
}

div.howItworks{
  margin-top:30%;
  margin-left:60%;
}
div.titleHowItWorks{
  
  margin-top:20%;
  padding-left:2%;
  
}

div.descriptionHow{
  margin-top:10%;
  margin-bottom:10%;
  padding-left:2%;
  padding-bottom:20%;
}


div.descriptionHow p{
  
  font-family:Avenir;
  font-size:1rem;
  
}


div.titleHowItWorks h1{
  
  font-size:2rem;
  font-family:Avenir;
   
 }

div.featuresContainer{
  
  display:flex;
  padding:10% 20%;
  
}

div.featuresContainertwo{
  
  display:flex;
  padding:10% 20%;
  
}

div.featuresBox{
  
  margin:20px 20px;
  height:100px;
  width:100px;
  
}

/***********HOVERS************/

.buyNow:hover{
    
    animation-name: buyNowAnimation;
    animation-duration: 0.5s;
	animation-fill-mode:forwards;
    
}

 ul.navigationItems li:hover{
    
    
    color: #cccccc;
    
}

div.logoPlaceholder:hover{
    

    animation-name: logoAnimation;
    animation-duration: 0.3s;
	animation-fill-mode:forwards;
    
   } 
    
i {

    border: solid rgba(68, 219, 189, 1);;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.arrowRight {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}





/***************MOBILE***************/

@media screen and (max-width :750px){
  
  
  ul li:not(:nth-child(2)){
            
            display: none;
			
        }
 
  ul.navigationItems li{
	 padding:0px 0px;
  }
  
  
  div.logoPlaceholder{
	
	
	margin-left:0px;
	
	
	
  }
  
  div.logoPlaceholder:hover{
	
	animation-name:mobileLogoAnimation;
    animation-duration: 0.3s;
	animation-fill-mode:forwards;
    
  }
  
  div.navBar{
	
	padding:0.8rem 0.8rem;
	
  }
  
  div.productImage {
      
	margin-top:20%;
  }
  
  div.productDescription{
  
  padding-top:10%;
  padding-left:5%;
  margin-top:20%;
  
  
}

  div.productImage img{
	
	content: url("/images/shades-mobile.jpg")
  }
  
  div.productDescription h1{
	
	font-size:2rem;
  }


div.titleHowItWorks{
  
  margin-top:20%;
  padding-left:2%;
  
}

div.descriptionHow{
  margin-top:10%;
  margin-bottom:10%;
  padding-left:2%;
  padding-bottom:20%;
 
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:#cccccc;
}


div.descriptionHow p{
  
  font-family:Avenir;
  font-size:1rem;
  
}


div.titleHowItWorks h1{
  
  font-size:2rem;
  font-family:Avenir;
   
 }
 
 div.howItworks{
  margin-top:0;
  margin-left:0;
}


div.featuresContainer{
  
  display:block;
  padding:10% 15% 0% 15%;

}

div.featuresContainertwo{
  
  display:block;
  padding:0% 15%;
  
}

div.featuresBox{
  
  text-align:center;
  width:100%;
  height:200px;
  margin:10% 0% 0% 0%;
}

div.featuresBox img{
  
  width:50px;
  height:auto;
}


div.featuresBox h1{
  
  color:Black;
  font-family:Avenir;
  font-size:1rem;
  font-weight:500;
  letter-spacing:3px;
  margin-top:10%;
  
}

div.featuresBox p{
  
  font-family:Avenir;
  font-size:0.9rem;
  font-weight:400;
  margin-top:10%;
  
}

 }


 
/***********ANIMATIONS*************/
@keyframes buyNowAnimation{
  
  from {
      
	background-color: rgba(68, 219, 189, 1);
	padding: 8px 15px;
    text-align: center;
    font-family:Avenir;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
    
    }
	
    to {
    background-color: rgba(47, 46, 46, 1);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
    text-align: center;
    color:  rgba(68, 219, 189, 1);
	  }
    }
	
	
@keyframes logoAnimation{
    
    from{
        
     width:60px;
	margin-left:70px;
	float:left;
	height:auto;
    cursor: pointer;
    background-color: rgba(47, 46, 46, 1);
    border-bottom-style: solid;
    border-bottom-color: rgba(47, 46, 46, 1);
        
    }
    to{
        
    width:60px;
	margin-left:70px;
	float:left;
	height:auto;
    cursor: pointer;
    background-color: rgba(47, 46, 46, 1);
    border-bottom-style: solid;
    border-bottom-color: White;
    }
    
}


@keyframes mobileLogoAnimation{
    
    from{
        
     width:60px;
	margin-left:0px;
	float:left;
	height:auto;
    cursor: pointer;
    background-color: rgba(47, 46, 46, 1);
    border-bottom-style: solid;
    border-bottom-color: rgba(47, 46, 46, 1);
        
    }
    to{
        
    width:60px;
	margin-left:0px;
	float:left;
	height:auto;
    cursor: pointer;
    background-color: rgba(47, 46, 46, 1);
    border-bottom-style: solid;
    border-bottom-color: White;
    }
    
}



/****************FONTS*****************/

@font-face {
    font-family:avenir;
    src: url(/fonts/avenir.ttf);

}

