div.navBar{
  
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: rgba(47, 46, 46, 1);
  padding:1rem 1rem;
}

body{
  margin:0px;
}

ul.navigationItems li{
    
    color:White;
    list-style: none;
    float: right;
    padding: 0px 20px;
	line-height:2rem;
	
	cursor:pointer;
	
   
}

li a{
    
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    font-family: Avenir;

}


.buyNow{
    
    background-color: rgba(68, 219, 189, 1);
	padding: 8px 15px;
    text-align: center;
    font-family:Avenir;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
    
}

div.logoPlaceholder{
    
    width:60px;
	margin-left:70px;
	float:left;
	height:auto;
    cursor: pointer;
    background-color: rgba(47, 46, 46, 1);
    border-bottom-style: solid;
    border-bottom-color: rgba(47, 46, 46, 1);
    
   
}

div.logoPlaceholder img{
  
  width:100%;
  height:auto;
}


div.productImage{
  
   padding-top:10%;
  padding-bottom:10px;
  
  margin-top:10%;
  
}


div.productDescription{
  
  margin-top:10%;
  padding-top:10%;
  padding-left:10%;
  display: block;
  
}


div.productDescription h1,p{
  
  font-family:Avenir;
  
}

div.productDescription p{
  
  font-size:1rem;
    margin-top: 20px;
}

button.buyNow2{
    
    margin: 10% 0%;
    color: white;
    background-color: rgba(68, 219, 189, 1);;
	padding: 8px 20px;
    text-align: center;
    font-family:Avenir;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
    cursor: pointer;
    
}

.imageShades{
  
  width:100%;
  height:auto;
  
  
}

div.productDescription a{
  
  text-decoration:underline;
  font-family:Avenir;
  font-weight:600;
  color:rgba(0,0,0,0.6);
}


div.howItWorksCOntainer{
    
    text-align: center;
    padding: 0px;
    margin-top:20%;
}

div.howItWorksCOntainer img{
    
    width: 60%;

    height: auto;
    
}
div.howItworks{
     margin-top:20%;
}
div.titleHowItWorks{
  
  margin-top:20%;
  padding-left:2%;
  
}
div.descriptionHow{
  margin-top:10%;
  margin-bottom:10%;
  padding-left:2%;
  padding-bottom:20%;
}
div.descriptionHow ul{
  
  list-style: none;
  padding-left: 0px;
  
}
div.descriptionHow li{
  
  font-family:Avenir;
  font-size:1rem;
  
}
div.titleHowItWorks h1{
  
  font-size:2.5rem;
  font-family:Avenir;
   
 }  
div.featuresContainer{
  
  display:flex;
  padding:10% 20% 0% 20%;
 border-top: 2px solid rgba(68, 219, 189, 1);
  
}
div.featuresContainertwo{
  
  display:flex;
  padding:0% 20%;
  
}
div.featuresBox{
  
  margin:20px 20px;
  height:auto;
  width:40%;
    
text-align: center; 
}
div.featuresBox img{
    
    width: 70px;
    height: auto;
    
    border: 2px solid rgba(68, 219, 189, 1);
    border-radius: 8px;
    
    
}
div.featuresBox h1{
  
  color:Black;
  font-family:Avenir;
  font-size:1rem;
  font-weight:600;
  letter-spacing:3px;
  margin-top:10%;
  
}


div.parkingPicture img{
    
    
    width: 100%;
    height: auto;
}
div.parkingPicContainer{
    
    
    padding: 0px;
 
}
div.parkingPicContainer,div.parkingContainer{
    
    
    margin-top: 10%
 
}
div.parkingDescription h1{
    
    font-family: Avenir;
    font-size: 3rem;
    font-weight: 600;
}
div.parkingDescription{
    
    padding: 10% 20% 10% 5%;
}




div.nightPicture img{
    
    
    width: 100%;
    height: auto;
}
div.nightPicContainer{
    
    
    padding: 0px;
 
}
div.nightPicContainer,div.nightContainer{
    margin-top: 10%;
}
div.nightDescription h1{
    
    font-family: Avenir;
    font-size: 3rem;
    font-weight: 600;
}
div.nightDescription{
    
    padding: 10% 20% 10% 5%;
}


div.refinedContainer{
    margin-top: 10%;
    padding: 0px;
}

div.refinedContainer img{
    
   width: 100%;
   height: auto;
 
}

div.refinedContainer p{
    
    color:White;
    font-family:Avenir;
	font-size:2.5rem;
	letter-spacing:2px;
	font-weight:500;


}


/***********HOVERS************/

.buyNow:hover{
    
    animation-name: buyNowAnimation;
    animation-duration: 0.5s;
	animation-fill-mode:forwards;
    
}

.buyNow2:hover{
    
    animation-name: buyNowAnimation2;
    animation-duration: 0.5s;
	animation-fill-mode:forwards;
    
}

 ul.navigationItems li:hover{
    
    
    color: #cccccc;
    
}

div.logoPlaceholder:hover{
    

    animation-name: logoAnimation;
    animation-duration: 0.3s;
	animation-fill-mode:forwards;
    
   } 
    
i {

    border: solid rgba(68, 219, 189, 1);;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.arrowRight {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

input.subInput:focus{
  outline: none !important;
  border:none !important;
}

button.subButton:focus{
  
  outline:none;
  
}

button.subButton:hover{
  
  background-color:rgba(68,210,189,1);
}

.buyNow:active{
 
    
    color:White;
    background-color: rgba(68, 219, 189, 1);
	padding: 8px 15px;
    text-align: center;
    font-family:Avenir;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
   
  
}

/***************MOBILE***************/

@media screen and (max-width :750px){
  
  
  div.navBar ul li:not(:nth-child(2)){
            
            display: none;
			
        }
 
  ul.navigationItems li{
	 padding:0px 0px;
  }
  
 .buyNow{
    
    color:White;
    background-color: rgba(68, 219, 189, 1);
	padding: 8px 15px;
    text-align: center;
    font-family:Avenir;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
    
}

  div.logoPlaceholder{
	
	
	margin-left:0px;
	
	
	
  }
  
  div.logoPlaceholder:hover{
	
	animation-name:mobileLogoAnimation;
    animation-duration: 0.3s;
	animation-fill-mode:forwards;
    
  }
  
  div.navBar{
	
	padding:0.8rem 0.8rem;
	
  }
  
  div.productImage {
      
	margin-top:20%;
  }
  
  div.productDescription{
  
  padding-top:10%;
  padding-left:5%;
  margin-top:20%;
  
  
}

  div.productImage img{
	
	content: url("/images/dashcam.png")
  }
  
  div.productDescription h1{
	
	font-size:2rem;
  }


div.titleHowItWorks{
  
  margin-top:20%;
  padding-left:2%;
  
}

div.descriptionHow{
  margin-top:10%;
  margin-bottom:10%;
  padding-left:2%;
  padding-bottom:20%;
 
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:rgba(68,219,189,1);
}

div.descriptionHow ul{
  
  list-style:none;
  padding-left:0px;
}

div.descriptionHow li{
  
  font-family:Avenir;
  margin-top:5%;
  margin-left:0px;
  font-size:1rem;
  line-height:1.3rem;
}


div.titleHowItWorks h1{
  
  font-size:2rem;
  font-family:Avenir;
   
 }
 
 div.howItworks{
  margin-top:0;
  margin-left:0;
}

div.howItWorksCOntainer{
  
  display:none;
}

div.featuresContainer{
  
  display:block;
  padding:10% 15% 0% 15%;
  border:none;

}

div.featuresContainertwo{
  
  display:block;
  padding:0% 15%;
  
}

div.featuresBox{
  
  text-align:center;
  width:100%;
  height:200px;
  margin:10% 0% 0% 0%;
}

div.featuresBox img{
  
  width:50px;
  height:auto;
}


div.featuresBox h1{
  
  color:Black;
  font-family:Avenir;
  font-size:1rem;
  font-weight:500;
  letter-spacing:3px;
  margin-top:10%;
  
}

div.featuresBox p{
  
  font-family:Avenir;
  font-size:0.9rem;
  font-weight:400;
  margin-top:10%;
  
}

div.mainrefinedContainer{
  padding:0px;
}

div.refinedContainer{
  margin-top:5%;
  padding:20% 2%;
  height:300px;
  position:relative;
  background:url('/images/refined-mobile.jpg') no-repeat;
  background-size:cover;
}


div.refinedContainer p{
    
    color:White;
    font-family:Avenir;
	font-size:1rem;
	
  
}

div.refinedContainer b{
  
  font-size:2rem;
  line-height:1.5rem;
  letter-spacing:3px;
}


div.parkingContainer{
  
  margin-top:5%;
  
}


div.parkingDescription h1{
  
  font-family:Avenir;
  font-size:2rem;
  
  
}

div.parkingDescription{
    
    padding:3% 2% 0% 2%;
}

div.parkingDescription p{
  
  margin-top:5%;
  line-height:1.5rem;
}

div.parkingDescription ul{
  
  margin-top:10%;
}
div.parkingDescription li{
  
  font-family:Avenir;
  font-size:1rem;
  
  
}




div.nightContainer{
  
  margin-top:5%;
  
}


div.nightDescription h1{
  
  font-family:Avenir;
  font-size:2rem;
  
  
}

div.nightDescription{
    
    padding:3% 2% 0% 2%;
}

div.nightDescription p{
  
  margin-top:5%;
  line-height:1.5rem;
}



div.parkingPicContainer{
  
  margin-top:10%;
  padding:0px 0px;,
}

div.parkingPicture img{
  
  width:100%;
  height:auto;
}

div.comparisonPicContainer img{
  
  width:100%;
  height:auto;
  
}

div.comparisonPicContainer{
  
  margin-top:20%;

}

div.productDescription div{
  
  display:none;
}

div.nightContainer{
  
  order:2;
  
}

div.nightPicContainer{
  order:1;
}



div.productReviewMain{
  
  width:1000px;
  padding:0px;
}

div.productReview{
  animation-name:slideFromRight;
  animation-duration:8s;
  
   
  
}
div.productReviewContainer{
  
  
  
  padding:10% 10%;
  margin-top:10%;
  background-color:#EAEAEA;
  display:none;
 
  
}

div.productReviewContainer h1.titleReview{
  
  font-family:Avenir;
  text-align:center;
  font-size:1rem;
  font-weight:600;
  
}


div.productReviewContainer h1.reviewPersonName{
  
 
  font-family:Avenir;
  text-align:center;
  font-size:1.5rem;
  color:rgba(68,219,189,1);
  
}



div.productReviewContainer p{
  
  text-align:center;
  font-size:1rem;
  line-height:1.2rem;
  
}

div.imageReviewLogo{
  margin:auto;
  margin-top:10%;
  margin-bottom:10%;
  width:100px;
  height:100px;
}

div.imageReviewLogo img{
  
  
  
  border-style:solid;
  border-color:#cccccc;
  border-width:1px;
  height:100px;
  width:100px;
  border-radius:50px;
  
  
  
}
div.aboutUsContainer{
  
  padding:10% 0%;
}

div.aboutUsContainer h1{
  
  font-family:Avenir;
  font-size:1.5rem;
}


div.newReleases{
  
  padding:10% 3%;
  background-color:#f5f5f5;
}

div.newReleases h1{
  
  font-size:1.2rem;
  font-family:Avenir;
}

div.subscribe{
  
  background-color:#f5f5f5;
  padding-bottom:10%;
  
}

*::-webkit-input-placeholder {
    color: #a2a2a1;
}

input.subInput{
 
  
  
  width:100%;
  background-color:#e8e8e8;
  
  font-family:Avenir;
  border:none;
  height:35px;
  font-size:0.9rem;
  padding:5px;
}

div.subButtonContainer{
  
  padding:3% 0%;
}
button.subButton{
 
  
  font-family:Avenir;
  font-size:0.8rem;
  height:35px;
  width:100%;
  border:none;
  text-align:center;
  background-color:rgba(68, 219, 189, 1);
  color:White;
  
}

  div.socialMedia{
	width:100%;
	text-align:center;
	display:inline-table;
    
  }
  
  div.socialMedia img{

  width:40px;
  height:40px;
  margin:10% 5%;
  }
  
  div.copyRight{
	margin-top:10%;
	text-align:center;
  }
  
  div.copyRight p{
	
	line-height:0.2rem;
	font-size:0.8rem;
	color:#9e9e9e;
  }
 }


 
/***********ANIMATIONS*************/
@keyframes buyNowAnimation{
  
  from {
    
	color:White;
	text-decoration:none;
	background-color: rgba(68, 219, 189, 1);
	padding: 8px 15px;
    text-align: center;
    font-family:Avenir;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
    
    }
	
    to {
	  
	  text-decoration:none;
	 color:White;
    background-color: rgba(47, 46, 46, 1);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
    text-align: center;
    color:  rgba(68, 219, 189, 1);
	  }
    }
	
@keyframes buyNowAnimation2{
  
  from {
      
	background-color: rgba(68, 219, 189, 1);
	padding: 8px 20px;
    text-align: center;
    font-family:Avenir;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
    
    }
	
    to {
    background-color:white;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(68, 219, 189, 1);
    text-align: center;
    color:  rgba(68, 219, 189, 1);
	  }
    }
	

@keyframes logoAnimation{
    
    from{
        
     width:60px;
	margin-left:70px;
	float:left;
	height:auto;
    cursor: pointer;
    background-color: rgba(47, 46, 46, 1);
    border-bottom-style: solid;
    border-bottom-color: rgba(47, 46, 46, 1);
        
    }
    to{
        
    width:60px;
	margin-left:70px;
	float:left;
	height:auto;
    cursor: pointer;
    background-color: rgba(47, 46, 46, 1);
    border-bottom-style: solid;
    border-bottom-color: White;
    }
    
}


@keyframes mobileLogoAnimation{
    
    from{
        
     width:60px;
	margin-left:0px;
	float:left;
	height:auto;
    cursor: pointer;
    background-color: rgba(47, 46, 46, 1);
    border-bottom-style: solid;
    border-bottom-color: rgba(47, 46, 46, 1);
        
    }
    to{
        
    width:60px;
	margin-left:0px;
	float:left;
	height:auto;
    cursor: pointer;
    background-color: rgba(47, 46, 46, 1);
    border-bottom-style: solid;
    border-bottom-color: White;
    }
    
}

@keyframes slideFromRight{
  
  0%{
	
	transform:translateX(-150%);
	opacity:1;
  }
  
  25%{
	
	transform:translateX(0%);
	opacity:1;
  }
  
  50%{
	transform:translateX(0%);
	opacity:1;
  }
  
  75%{
	transform:translateX(0%);
	
	opacity:1;
  }
  
  100%{
	transform:translateX(0%);
	opacity:0;
  }
  
}

/****************FONTS*****************/

@font-face {
    font-family:avenir;
    src: url(/fonts/avenir.ttf);

}

